﻿<!-- Session -->
<input type="hidden" id="sId" value="<%= web.intern._Session.get(web.intern._Session.list.id)       %>" />
<input type="hidden" id="sDni" value="<%= web.intern._Session.get(web.intern._Session.list.dni)       %>" />
<input type="hidden" id="sName" value="<%= web.intern._Session.get(web.intern._Session.list.name)      %>" />
<input type="hidden" id="sSurname" value="<%= web.intern._Session.get(web.intern._Session.list.surname)   %>" />
<input type="hidden" id="sCom" value="<%= web.intern._Session.get(web.intern._Session.list.com)       %>" />
<input type="hidden" id="sJob" value="<%= web.intern._Session.get(web.intern._Session.list.job)       %>" />
<input type="hidden" id="sType" value="<%= web.intern._Session.get(web.intern._Session.list.type)      %>" />
<input type="hidden" id="sOff" value="<%= web.intern._Session.get(web.intern._Session.list.office)      %>" />
<input type="hidden" id="sInc" value="<%= web.intern._Session.get(web.intern._Session.list.incId)      %>" />

<input type="hidden" id="sTest" value="<%= web.intern._Session.get(web.intern._Session.list.test)      %>" />


<!-- End Session -->

<!-- Tempory -->
<input type="hidden" id="Id" value="" />
<input type="hidden" id="Com" value="" />
<input type="hidden" id="Svc" value="" />
<input type="hidden" id="Sla" value="" />
<input type="hidden" id="temp2" value="0" />
<!-- End Tempory -->


<!-- Plugins -->
<script type="text/javascript" charset="utf-8" src="/src/plugins/jquery/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/bootstrap/bootstrap.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/metisMenu/jquery.metisMenu.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/toastr/toastr.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/pace/pace.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/gritter/jquery.gritter.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/dropzone/dropzone.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/calendar/moment.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/calendar/fullcalendar.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/carousel/carousel.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/dataTables/datatables.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/dataTables/datatables.responsive.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/sweetalert/sweetalert.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/validate/validate.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/select2/select2.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/datapicker/datepicker.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/summernote/summernote.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/RangeSlider/js/ion-rangeSlider/ion.rangeSlider.js"></script>
<!-- End Plugins -->
<!-- Theme -->
<script type="text/javascript" charset="utf-8" src="/src/js/inspinia.js"></script>
<!-- End Theme -->

<!-- Own -->
<script type="text/javascript" charset="utf-8" src="/src/js/SigloBPO.js"></script>
<!-- End Own -->