﻿<!-- Meta -->
<meta charset='utf-8' />
<meta name='description' content='ServiceDesk SigloBPO' />
<meta name='keywords' content='Tags Search Engine' />
<meta name='author' content='Gian Farfan' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<meta http-equiv='Content-type' content='text/html; charset=UTF-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge' />

    <!-- No cache -->
    <meta http-equiv='Expires' content='0' />
    <meta http-equiv='Last-Modified' content='0' />
    <meta http-equiv='Cache-Control' content='no-cache, mustrevalidate' />
    <meta http-equiv='Pragma' content='no-cache' />
    <!-- End no cache -->
<!-- End Meta -->