﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="web.app.Site" %>

<!DOCTYPE html>
<html>

<head>
    
    <!-- Meta -->
    <!-- #include file="meta.html" -->
    <!-- End Meta -->

    <!-- Title -->
    <title><asp:ContentPlaceHolder ID="title" runat="server"></asp:ContentPlaceHolder></title>
    <!-- End Title -->
    
    <!-- Style -->
    <!-- #include file="style.html" -->    
    <!-- End Style -->

    <!-- Add -->
    <asp:ContentPlaceHolder ID="addHead" runat="server"></asp:ContentPlaceHolder>
    <!-- End Add -->

</head>

<body class="fixed-sidebar">
    <div id="wrapper">

        <!-- Nav || Lateral Izquierdo -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div style="width: 100%; text-align: center;" class="profile-element logo-all">
                            <img style="width: 70%;" alt="image" src="/src/img/SigloBPO.png" />
                            <span class="clear block m-t-xs">
                                <span id="userCompany" class="text-warning text-xs block"></span>
                                <span id="userName" class="font-bold text-white"></span>
                                <span id="userOffice" class="text-muted text-xs block"></span>
                                <span id="userJob" class="text-muted text-xs block"></span>
                                <span id="userType" class="text-muted text-xs block"></span>
                            </span>
                        </div>
                        <div style="width: 100%; text-align: center;" class="logo-element">
                            <img style="width: 70%;" alt="image" src="/src/img/favicon.png" />
                        </div>
                    </li>
                    <!-- Items Nav -->
                    <li>
                        <a href="/Dashboard"><i class="fa fa-home"></i><span class="nav-label">Inicio</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cog"></i><span class="nav-label">Incidencia</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/Incident">Incidente</a></li>
                            <li><a href="/Incident/Add">Agregar Incidente</a></li>
                            <li><a href="/Incident/Upd">Editar Incidente</a></li>
                            <li><a href="/Incident/Sel">Seleccionar Incidente</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-cog"></i><span class="nav-label">Administración de la Configuración</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/Administration/Config/Job">Puesto de Trabajo</a></li>
                            <li><a href="/Administration/Config/Company">Compañia</a></li>
                            <li><a href="/Administration/Config/Company/Service">Compañia-Servicio</a></li>
                            <li><a href="/Administration/Config/Office">Área</a></li>
                            <li><a href="/Administration/Config/Urgency">Urgencia</a></li>
                            <li><a href="/Administration/Config/Impact">Impacto</a></li>
                            <li><a href="/Administration/Config/Priority">Prioridad</a></li>
                            <li><a href="/Administration/Config/Service">Servicio</a></li>
                            <li><a href="/Administration/Config/SLA">SLA</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-cog"></i><span class="nav-label">Configuración</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/Administration/Config/UserType">Tipo de Usuario</a></li>
                            <li><a href="/Administration/Config/People">Persona</a></li>
                        </ul>
                    </li>
                    <!-- End Items Nav -->
                </ul>
            </div>
        </nav>
        <!-- End Nav || Lateral Izquierdo -->

        <!-- Body || Lateral Derecho -->
        <div id="page-wrapper" class="gray-bg dashbard-1">

            <!-- Nav Top -->
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Bienvenido al ServiceDesk de SigloBPO</span>
                        </li>
                        <li>
                            <a href="#" onclick="jsPeople.$Logout();"><i class="fa fa-sign-out"></i>Log out</a>
                        </li>
                    </ul>

                </nav>
            </div>
            <!-- End Nav Top -->

            <!-- Breakcrumb -->
            <asp:ContentPlaceHolder ID="breadcrumb" runat="server"></asp:ContentPlaceHolder>
            <!-- End Breakcrumb -->

            <!-- Block Content -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content">
                        <!-- Block content altered -->
                        <asp:ContentPlaceHolder ID="content" runat="server"></asp:ContentPlaceHolder>
                        <!-- End Block content altered -->
                        <div class="footer">
                            <div class="pull-right">Portal Cliente </div>
                            <div>SigloBPO - Copyright 2017 </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Block Content -->

        </div>
        <!-- End Body || Lateral Derecho -->
    </div>

    <!-- Footer -->
    <!-- #include file="footer.html" -->
    <!-- End Footer -->

    <!-- Add -->
    <asp:ContentPlaceHolder ID="addFooter" runat="server"></asp:ContentPlaceHolder>
    <!-- End Add -->
</body>
</html>
