﻿.test {
    border: 1px solid black;
    padding: 5px;
}


.select2-container.select2-container--default.select2-container--open {
    z-index: 150000;
}


.form-control-select2 {
    width: 100%;
}


.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}



.note-editor.note-frame.panel.panel-default {
    border: 1px solid #e5e6e7;
}


.nav-header {
    padding: 20px 10px !important;
}

.hiden {
    display: none;
}