﻿<%@ Page Title="" Language="C#" MasterPageFile="~/app/Site.Master" AutoEventWireup="true" CodeBehind="Service.aspx.cs" Inherits="web.app.html.Service.Service" %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" runat="server">
    Servicio • SigloBPO
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="addHead" runat="server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="breadcrumb" runat="server">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Servicio</h2>
            <ol class="breadcrumb">
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Administración de la configuración</a></li>
                <li class="active"><strong>Servicio</strong></li>
            </ol>
        </div>
    </div>
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="content" runat="server">

    <div class="row">

        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Lista de servicio</h5>
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-ellipsis-v"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#" onclick="jsService.tblLis('#tblService');"><i class="fa fa-refresh"></i>Actualizar</a></li>
                            <li><a href="#" onclick="jsService.$Form.Sel('#jsServiceSet_md', '#formServiceSet', '#tblService');"><i class="fa fa-eye"></i>Ver</a></li>
                            <li><a href="#" onclick="jsService.$Form.Ins('#jsServiceSet_md', '#formServiceSet');"><i class="fa fa-plus"></i>Agregar</a></li>
                            <li><a href="#" onclick="jsService.$Form.Upd('#jsServiceSet_md', '#formServiceSet', '#tblService');"><i class="fa fa-pencil-square-o"></i>Editar</a></li>
                        </ul>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <table id="tblService" class="table table-striped table-bordered table-hover dataTables-example"></table>
                </div>

            </div>
        </div>


        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Lista de tipo servicio</h5>
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-ellipsis-v"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#" onclick="jsServiceType.tblLis('#tblServiceType');"><i class="fa fa-refresh"></i>Actualizar</a></li>
                            <li><a href="#" onclick="jsServiceType.$Form.Sel('#jsServiceTypeSet_md', '#formServiceTypeSet', '#tblServiceType');"><i class="fa fa-eye"></i>Ver</a></li>
                            <li><a href="#" onclick="jsServiceType.$Form.Ins('#jsServiceTypeSet_md', '#formServiceTypeSet');"><i class="fa fa-plus"></i>Agregar</a></li>
                            <li><a href="#" onclick="jsServiceType.$Form.Upd('#jsServiceTypeSet_md', '#formServiceTypeSet', '#tblServiceType');"><i class="fa fa-pencil-square-o"></i>Editar</a></li>
                        </ul>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <table id="tblServiceType" class="table table-striped table-bordered table-hover dataTables-example"></table>
                </div>

            </div>
        </div>



    </div>



    <!-- Modal Service -->
    <div class="modal inmodal" id="jsServiceSet_md" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <!--modal-lg modal-sm-->
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <form id="formServiceSet" role="form" novalidate="novalidate">
                    <div class="modal-body">

                        <!-- -->
                        <div class="row">


                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Nombre:</label>
                                    <input type="text" id="ServiceSet_Name" name="ServiceSet_Name" placeholder="Nombre" class="form-control valid" required />
                                </div>
                            </div>
                            
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Tipo:</label>
                                    <div class="form-control-select2">
                                        <select id="ServiceSet_Type" name="ServiceSet_Type" class="select2" style="width: 100% !important;"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <div class="form-group">
                                    <label>Estado:</label>
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" id="ServiceSet_Active" name="ServiceSet_Active" class="onoffswitch-checkbox" disabled />
                                            <label class="onoffswitch-label" for="ServiceSet_Active">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                        <button id="ServiceSet_Submit" type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Modal Service Type -->
    <div class="modal inmodal" id="jsServiceTypeSet_md" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <!--modal-lg modal-sm-->
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <form id="formServiceTypeSet" role="form" novalidate="novalidate">
                    <div class="modal-body">

                        <!-- -->
                        <div class="row">


                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Nombre:</label>
                                    <input type="text" id="ServiceTypeSet_Name" name="ServiceTypeSet_Name" placeholder="Nombre" class="form-control valid" required />
                                </div>
                            </div>                        

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <div class="form-group">
                                    <label>Estado:</label>
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            <input type="checkbox" id="ServiceTypeSet_Active" name="ServiceTypeSet_Active" class="onoffswitch-checkbox" disabled />
                                            <label class="onoffswitch-label" for="ServiceTypeSet_Active">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                        <button id="ServiceTypeSet_Submit" type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</asp:Content>

<asp:Content ID="Content5" ContentPlaceHolderID="addFooter" runat="server">

    <script type="text/javascript">

        $(document).ready(function () {

            try {
                jsService.tblLis('#tblService');
                jsServiceType.tblLis('#tblServiceType');
            } catch (e) {
                jsNotify.Show(5, "Error", e.message.toString());
            }
        });

    </script>

</asp:Content>
